{% extends "admin/base_site.html" %}
{% load adminmedia %} 
{% load i18n admin_modify adminmedia %}
{% block breadcrumbs %}
        <div class="breadcrumbs">
                <a href="/">{% trans 'Index' %}</a> |
                <a href="/admin">{% trans 'Admin' %}</a> 
        </div>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Stations Statistics' %}</h1>
{% endblock %}

 <script>
    {% if messages %}
        {% for message in messages %}
            alert(message);
        {% endfor %}
    {% endif %}
 </script>


{% block extrahead %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

{{ form.media }}

{% endblock %}


{% block content %}
<div id="content-main">
<body>

 <form action="/hg/" method="post">
                <table border=3 cellpadding="3">
                        {{ form.as_table }}
                </table>
                <input type="submit" value="Submit" />
        </form>

{% for error in form.errors %}
    {{error}}
{% endfor %}

{% if data %}
 {{ data }}
{% endif %}


{% if data%}
<div id=result>
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
                google.setOnLoadCallback(drawChart);
		function drawChart() {

		var dTable = new google.visualization.DataTable();
		{% for l in data.items %}
        		dTable.addColumn('string','{{ l.0 }}');
        		dTable.addColumn('number','Sismos');
        		
			dTable.addRows({{ l.1|length }});
			{% for v  in l.1.items %}
				dTable.setCell({{v.0}},0,{{v.1}});

			{% endfor %}			

		{%endfor%}


		var chart = new google.visualization.ColumnChart(
            			document.getElementById('chart_div'));
	        chart.draw(dTable, {'isStacked': true, 'legend': 'bottom',
        		    'vAxis': {'title': 'Number of tickets'}});		};

	</script>	
	<div id="chart_div"></div>	
	
</div>
{% endif %}
</div>
{% endblock %}

